@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
/* font-family: "Cherry Bomb One", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
/* font-family: "Handlee", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
/* font-family: "Patrick Hand SC", cursive; */
.bloc-product .card-product .detail-product .btn-link-product {
  display: flex;
  justify-content: end;
}
.bloc-product .card-product .detail-product .btn-link-product .button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #AD88C6;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: "Handlee", cursive;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bloc-product .card-product .detail-product .btn-link-product .button:after {
  background-color: #AD88C6;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.bloc-product .card-product .detail-product .btn-link-product .button:hover:after {
  transform: translate(0, 0);
}
.bloc-product .card-product .detail-product .btn-link-product .button:active {
  background-color: #ffdeda;
  outline: 0;
}
.bloc-product .card-product .detail-product .btn-link-product .button:hover {
  outline: 0;
}
.bloc-product .card-product .detail-product .btn-link-product .link-btn-product {
  text-decoration: none;
  color: #7469B6;
}

.bloc-contact .btn-link-contact {
  display: flex;
  justify-content: end;
}
.bloc-contact .btn-link-contact .button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #AD88C6;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: "Handlee", cursive;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bloc-contact .btn-link-contact .button:after {
  background-color: #AD88C6;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.bloc-contact .btn-link-contact .button:hover:after {
  transform: translate(0, 0);
}
.bloc-contact .btn-link-contact .button:active {
  background-color: #ffdeda;
  outline: 0;
}
.bloc-contact .btn-link-contact .button:hover {
  outline: 0;
}
.bloc-contact .btn-link-contact .link-btn-product {
  text-decoration: none;
  color: #7469B6;
}

.grid-bloc-card {
  box-sizing: border-box;
  margin: 30px 25px 25px 25px;
}
.grid-bloc-card .card-intro {
  width: 300px;
  background-color: #FFE6E6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.grid-bloc-card .card-intro .title-card {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 20px;
  color: #2B0D73;
}
.grid-bloc-card .card-intro .text-card {
  margin-bottom: 35px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  color: #AD88C6;
}
.grid-bloc-card .card-intro .footer-lien {
  display: flex;
  justify-content: end;
}
.grid-bloc-card .card-intro .footer-lien .lien-card {
  text-decoration: none;
  font-family: "Patrick Hand SC", cursive;
  color: #2B0D73;
}
@media screen and (min-width: 768px) {
  .grid-bloc-card .card-intro {
    width: 600px;
  }
  .grid-bloc-card .card-intro .title-card {
    font-size: 25px;
  }
  .grid-bloc-card .card-intro .text-card {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-bloc-card .card-intro {
    width: 300px;
  }
}

.bloc-encyclo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-encyclo .card-encyclo {
  width: 300px;
  margin-bottom: 45px;
  border-radius: 10px;
}
.bloc-encyclo .card-encyclo .img-encyclo {
  width: 100%;
  border-radius: 9px;
}
.bloc-encyclo .card-encyclo .text-unicorn-card {
  color: #AD88C6;
  font-family: "Patrick Hand SC", cursive;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bloc-encyclo .card-encyclo {
    width: 600px;
  }
  .bloc-encyclo .card-encyclo .text-unicorn-card {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc-encyclo .card-encyclo {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .bloc-encyclo .card-encyclo .img-encyclo {
    width: 50%;
  }
  .bloc-encyclo .card-encyclo .text-encyclo .sous-title-bloc-encyclo {
    font-size: 50px;
  }
  .bloc-encyclo .card-encyclo .text-encyclo .text-unicorn-card {
    text-align: start;
  }
}

.bloc-product {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-product .card-product {
  width: 300px;
  margin-top: 70px;
}
.bloc-product .card-product .img-product {
  width: 100%;
  border-radius: 10px;
}
.bloc-product .card-product .detail-product .title-product {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 25px;
  color: #2B0D73;
  margin-top: 25px;
}
.bloc-product .card-product .detail-product .text-product {
  color: #AD88C6;
  font-family: "Patrick Hand SC", cursive;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bloc-product .card-product {
    width: 600px;
  }
  .bloc-product .card-product .detail-product .title-product {
    font-size: 30px;
  }
  .bloc-product .card-product .detail-product .text-product {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc-product .card-product {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bloc-product .card-product .img-product {
    width: 50%;
    margin: 50px;
  }
  .bloc-product .card-product .detail-product {
    width: 50%;
  }
  .bloc-product .card-product .detail-product .title-product {
    font-size: 40px;
  }
  .bloc-product .card-product .detail-product .text-product {
    text-align: start;
  }
  .bloc-product .card-peluche {
    display: flex;
    flex-direction: row-reverse;
  }
  .bloc-product .card-vaiselle {
    display: flex;
    flex-direction: row;
  }
  .bloc-product .card-the {
    display: flex;
    flex-direction: row-reverse;
  }
}

.bloc-temoignages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-temoignages .title-temoignage {
  font-family: "Handlee", cursive;
  color: #2B0D73;
  text-align: center;
  font-size: 25px;
  margin: 25px;
}
.bloc-temoignages .card-temoignage-1 {
  margin: 0 0 50px 0;
  width: 90%;
}
.bloc-temoignages .card-temoignage-1 .text-temoignage {
  color: #AD88C6;
  font-family: "Patrick Hand SC", cursive;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
.bloc-temoignages .card-temoignage-1 .img-temoignage-1 {
  border-radius: 10px;
  width: 100%;
}
.bloc-temoignages .card-temoignage-2 {
  margin: 0 0 50px 0;
  width: 90%;
}
.bloc-temoignages .card-temoignage-2 .text-temoignage {
  color: #AD88C6;
  font-family: "Patrick Hand SC", cursive;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.bloc-temoignages .card-temoignage-2 .img-temoignage-2 {
  border-radius: 10px;
  width: 100%;
}
.bloc-temoignages .card-temoignage-3 {
  margin: 0 0 50px 0;
  width: 90%;
}
.bloc-temoignages .card-temoignage-3 .text-temoignage {
  color: #AD88C6;
  font-family: "Patrick Hand SC", cursive;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
.bloc-temoignages .card-temoignage-3 .img-temoignage-3 {
  border-radius: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bloc-temoignages .title-temoignage {
    font-size: 30px;
  }
  .bloc-temoignages .card-temoignage-1 {
    width: 600px;
  }
  .bloc-temoignages .card-temoignage-1 .text-temoignage {
    font-size: 25px;
  }
  .bloc-temoignages .card-temoignage-2 {
    width: 600px;
  }
  .bloc-temoignages .card-temoignage-2 .text-temoignage {
    font-size: 20px;
  }
  .bloc-temoignages .card-temoignage-3 {
    width: 600px;
  }
  .bloc-temoignages .card-temoignage-3 .text-temoignage {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc-temoignages .title-temoignage {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .bloc-temoignages .card-temoignage-1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bloc-temoignages .card-temoignage-1 .text-temoignage {
    text-align: start;
    font-size: 30px;
    width: 50%;
  }
  .bloc-temoignages .card-temoignage-1 .img-temoignage-1 {
    width: 50%;
    margin: 25px;
  }
  .bloc-temoignages .card-temoignage-2 {
    width: 70%;
  }
  .bloc-temoignages .card-temoignage-2 .text-temoignage {
    font-size: 30px;
  }
  .bloc-temoignages .card-temoignage-3 {
    width: 70%;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bloc-temoignages .card-temoignage-3 .text-temoignage {
    width: 50%;
    text-align: start;
    font-size: 30px;
  }
  .bloc-temoignages .card-temoignage-3 .img-temoignage-3 {
    width: 50%;
    margin: 25px;
  }
}

.grid-bloc-card .card-equipe {
  width: 300px;
  background-color: #FFE6E6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-bloc-card .card-equipe .img-equipe {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.grid-bloc-card .card-equipe .title-card {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 25px;
  color: #2B0D73;
}
.grid-bloc-card .card-equipe .sous-title-card {
  text-align: center;
  font-family: "Handlee", cursive;
  color: #7469B6;
  font-size: 22px;
  margin-bottom: 10px;
}
.grid-bloc-card .card-equipe .text-card {
  margin-bottom: 35px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  color: #AD88C6;
}
.grid-bloc-card .card-equipe .footer-lien {
  display: flex;
  justify-content: end;
}
.grid-bloc-card .card-equipe .footer-lien .lien-card {
  text-decoration: none;
  font-family: "Patrick Hand SC", cursive;
  color: #2B0D73;
}
@media screen and (min-width: 768px) {
  .grid-bloc-card .card-equipe {
    width: 600px;
  }
  .grid-bloc-card .card-equipe .title-card {
    font-size: 25px;
  }
  .grid-bloc-card .card-equipe .text-card {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-bloc-card .card-equipe {
    width: 300px;
  }
}

footer .footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 25px;
  background-color: #AD88C6;
  color: white;
  font-family: "Patrick Hand SC", cursive;
}
footer .footer .footer-left {
  text-align: center;
}
footer .footer .footer-left .footer-title {
  margin-bottom: 15px;
}
footer .footer .footer-left .footer-tel {
  margin: 10px 0 10px 0;
}
footer .footer .footer-img-logo-mobile .footer-logo-mobile {
  width: 160px;
}
footer .footer .footer-img-logo-desktop {
  display: none;
}
footer .footer .footer-img-logo-desktop .footer-logo-desktop {
  width: 190px;
}
footer .footer .footer-right .footer-right-network {
  text-align: center;
  margin: 25px 0 15px 0;
}
footer .footer .footer-right .footer-right-network .icone-network {
  width: 30px;
}
@media screen and (min-width: 768px) {
  footer .footer .footer-img-logo-mobile {
    display: none;
  }
  footer .footer .footer-img-logo-desktop {
    display: block;
  }
  footer .footer .footer-right .footer-right-network {
    margin-top: 0;
  }
}

.grid-bloc-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  place-items: center;
}
@media screen and (min-width: 1200px) {
  .grid-bloc-card {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}

header {
  /* Icône burger */
}
header .sidenav {
  font-family: "Patrick Hand SC", cursive;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #DDCFE8;
  padding-top: 60px;
  transition: right 0.5s ease;
}
header .sidenav a {
  margin: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2B0D73;
  display: block;
  transition: 0.3s;
}
header .sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
header .sidenav a:hover {
  color: #111;
}
header .sidenav.active {
  right: 0;
}
header .burger-icon {
  background-color: transparent;
  border: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: #2B0D73;
  margin: 5px;
}
header .bandeau {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  background-color: #FFE6E6;
}
header .bandeau .logo-bandeau {
  width: 130px;
  margin: 20px;
}
@media screen and (min-width: 1200px) {
  header {
    width: 100%;
  }
  header .bandeau {
    display: flex;
  }
  header .bandeau .logo-bandeau {
    width: 200px;
    margin: 20px;
  }
  header .sidenav {
    width: auto;
    position: static;
    height: 60px;
    right: auto;
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px 0 0;
    background-color: transparent;
  }
  header .sidenav a {
    color: #AD88C6;
    font-size: 20px;
  }
  header .sidenav .close {
    visibility: hidden;
    position: relative;
    right: 25%;
  }
  header .sidenav.active {
    right: 350px;
  }
  header .burger-icon {
    visibility: hidden;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}
body .container .bloc-contact {
  margin: 10px 10px 50px 10px;
  box-sizing: border-box;
}
body .container .bloc-contact .title-contact {
  margin: 70px 0 40px 0;
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 25px;
  color: #2B0D73;
}
body .container .bloc-contact .bloc-form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .bloc-contact .bloc-form-contact .form-contact {
  display: flex;
  flex-direction: column;
  width: 80%;
}
body .container .bloc-contact .bloc-form-contact .form-contact .input-email {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #DDCFE8;
  padding-left: 10px;
  font-family: "Patrick Hand SC", cursive;
}
body .container .bloc-contact .bloc-form-contact .form-contact .input-file {
  height: 30px;
  margin: 40px 0 40px 0;
  border: none;
  border-radius: 5px;
  background-color: #DDCFE8;
  padding: 10px 0 0 10px;
  font-family: "Patrick Hand SC", cursive;
  color: grey;
}
body .container .bloc-contact .bloc-form-contact .form-contact .input-message {
  height: 100px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  background-color: #DDCFE8;
  padding: 10px 0 0 10px;
  font-family: "Patrick Hand SC", cursive;
}
@media screen and (min-width: 768px) {
  body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .container .bloc-contact {
    width: 80%;
  }
  body .container .bloc-contact .bloc-form-contact .form-contact .input-email {
    font-size: 20px;
  }
  body .container .bloc-contact .bloc-form-contact .form-contact .input-file {
    height: 40px;
    font-size: 20px;
  }
  body .container .bloc-contact .bloc-form-contact .form-contact .input-message {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  body .container .bloc-contact {
    width: 50%;
  }
  body .container .bloc-contact .title-contact {
    margin-top: 0;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}
body .container .bloc-intro {
  margin: 10px;
}
body .container .bloc-intro .title-bloc-intro {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 30px;
  color: #2B0D73;
  margin: 50px 0 30px 0;
}
body .container .bloc-intro .title-bloc-intro .logo-texte {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 100;
}
body .container .bloc-intro .text-bloc-intro {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Patrick Hand SC", cursive;
  font-size: 20px;
  color: #7469B6;
}
body .container .ligne-intro {
  margin: 5%;
  width: 90%;
  border: 2px solid #E1AFD1;
}
body .container .bloc-encyclo .sous-title-bloc-encyclo {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 30px;
  color: #2B0D73;
  margin: 50px 0 30px 0;
}
body .container .ligne-encyclo {
  margin: 5%;
  width: 90%;
  border: 2px solid #E1AFD1;
}
body .container .sous-title-bloc-product {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 30px;
  color: #2B0D73;
  margin: 50px 0 30px 0;
}
body .container .ligne-product {
  margin: 5%;
  width: 90%;
  border: 2px solid #E1AFD1;
}
body .container .sous-title-bloc-temoignages {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 30px;
  color: #2B0D73;
  margin: 90px 0 30px 0;
}
body .container .phrase-accroche {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 25px;
  color: #2B0D73;
  margin: 50px 0 60px 0;
}
body .container .ligne-temoignage {
  margin: 5%;
  width: 90%;
  border: 2px solid #AD88C6;
}
body .container .fleche-up {
  margin: 30px;
  display: flex;
  justify-content: end;
}
body .container .fleche-up .fleche-up-img {
  width: 60px;
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  body .container .bloc-intro .title-bloc-intro {
    font-size: 50px;
  }
  body .container .bloc-intro .text-bloc-intro {
    font-size: 30px;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .container {
  flex: 1 0 auto;
  box-sizing: border-box;
}
body .container .title-propos {
  font-family: "Handlee", cursive;
  font-size: 30px;
  text-align: center;
  color: #2B0D73;
  margin: 60px 0 40px 0;
}
body .container .bloc-entreprise {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .bloc-entreprise .entreprise-img {
  width: 90%;
  border-radius: 10px;
}
body .container .bloc-entreprise .entreprise-bloc-text {
  margin: 20px;
}
body .container .bloc-entreprise .entreprise-bloc-text .entreprise-title {
  text-align: center;
  font-size: 25px;
  font-family: "Patrick Hand SC", cursive;
  color: #2B0D73;
  margin-bottom: 20px;
}
body .container .bloc-entreprise .entreprise-bloc-text .entreprise-text {
  text-align: center;
  font-size: 20px;
  font-family: "Patrick Hand SC", cursive;
  color: #AD88C6;
}
@media screen and (min-width: 1200px) {
  body .container .title-propos {
    margin: 0 0 20px 0;
  }
  body .container .bloc-entreprise {
    display: flex;
    flex-direction: row;
    margin: 50px;
  }
  body .container .bloc-entreprise .entreprise-img {
    width: 50%;
  }
  body .container .bloc-entreprise .entreprise-bloc-text {
    margin-left: 50px;
  }
  body .container .bloc-entreprise .entreprise-bloc-text .entreprise-title {
    text-align: left;
  }
  body .container .bloc-entreprise .entreprise-bloc-text .entreprise-text {
    text-align: left;
  }
}
body .container .ligne-entreprise {
  margin: 5%;
  width: 90%;
  border: 2px solid #E1AFD1;
}
body .grid-bloc-card {
  margin-bottom: 80px;
}

/*# sourceMappingURL=style.css.map */
