.grid-bloc-card {

    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    place-items: center;

    @media screen and (min-width: 1200px) {

        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;

    }
}
