.grid-bloc-intro{
    box-sizing: border-box;

    

    margin: 30px 25px 25px 25px;
    
    .card-1{

        

        max-width: 300px;
        
        background-color: $pink;

        padding: 20px;

        border-radius: 10px;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        .title-card{
            margin-bottom: 20px;

            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 20px;
            

            color: $blue;
        }
        .text-card{
            margin-bottom: 35px;

            text-align: center;

            font-family: "Patrick Hand SC", cursive; 

            color: $violet;
        }
        .footer-lien {

            display: flex;
            justify-content: end;

            .lien-card{
                text-decoration: none;

                font-family: "Patrick Hand SC", cursive; 

                color: $blue;
            }
        }
    }
        
    
}

.bloc-encyclo {

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-encyclo {
    
        max-width: 300px;

        margin-bottom: 45px;

        

        border-radius: 10px;



        .img-encyclo{
            width: 100%;
            border-radius: 9px;
        }
        
        .text-unicorn-card{
        
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            padding: 20px;

            text-align: center;
        }
        
    }
}

.bloc-product {

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-product {

        max-width: 300px;

        .title-product {
            text-align: center;
    
            font-family: "Handlee", cursive;
            font-size: 25px;
    
            color: $blue;
    
            margin: 50px 0 30px 0;
        }

        .img-product {
            width: 100%;

            border-radius: 10px;
        }

        .text-product {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            padding: 20px;

            text-align: center;
        }
    }
}

.bloc-temoignages {

    display: flex;
    flex-direction: column;
    align-items: center;

    .title-temoignage {
        font-family: "Handlee", cursive;
        color: $blue;
        text-align: center;
        font-size: 18px;

        margin: 25px;
    }

    .card-temoignage-1 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            margin-bottom: 20px;

            text-align: center;
        }

        .img-temoignage-1 {

            border-radius: 10px;

            width: 100%;

        }
    }
    .card-temoignage-2 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            padding: 20px;

            text-align: center;
        }

        .img-temoignage-2 {

            border-radius: 10px;

            width: 100%;

        }
    }
    .card-temoignage-3 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            margin-bottom: 20px;

            text-align: center;
        }

        .img-temoignage-3 {

            border-radius: 10px;

            width: 100%;

        }

    }
}


