.grid-bloc-intro{
    box-sizing: border-box;

    

    margin: 30px 25px 25px 25px;
    
    .card-intro{

        width: 300px;
        
        background-color: $pink;

        padding: 20px;

        border-radius: 10px;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        .title-card{
            margin-bottom: 20px;

            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 20px;
            

            color: $blue;
        }
        .text-card{
            margin-bottom: 35px;

            text-align: center;

            font-family: "Patrick Hand SC", cursive; 

            color: $violet;
        }
        .footer-lien {

            display: flex;
            justify-content: end;

            .lien-card{
                text-decoration: none;

                font-family: "Patrick Hand SC", cursive; 

                color: $blue;
            }
        }
    }
        
    @media screen and (min-width: 768px) {
        .card-intro {
            width: 600px;

            .title-card {
                font-size: 25px;
            }

            .text-card {
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) {

        .card-intro {
            width: 300px;
        }

    }
}

.bloc-encyclo {

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-encyclo {
    
        width: 300px;

        margin-bottom: 45px;

        

        border-radius: 10px;



        .img-encyclo{
            width: 100%;
            border-radius: 9px;
        }
        
        .text-unicorn-card{
        
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            padding: 20px;

            text-align: center;
        }
        
    }

    @media screen and (min-width: 768px) {
        .card-encyclo {
            width: 600px;

            .text-unicorn-card {
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        
        .card-encyclo {
            width: 80%;

            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            

            .img-encyclo {
                width: 50%;
            }

            .text-encyclo {

                .sous-title-bloc-encyclo {
                    font-size: 50px;
                }

                .text-unicorn-card {
                    text-align: start;
                }
            }
        }
    }
}

.bloc-product {

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-product {

        width: 300px;

        margin-top: 70px;

        .img-product {
            width: 100%;

            border-radius: 10px;
        }


        .detail-product {

            .title-product {
                text-align: center;
        
                font-family: "Handlee", cursive;
                font-size: 25px;
        
                color: $blue;
        
                margin-top: 25px;
            }
    
            
            .text-product {
                color: $violet;
            
                font-family: "Patrick Hand SC", cursive; 
            
                padding: 20px;
    
                text-align: center;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .card-product {
            width: 600px;
            

            .detail-product {

                .title-product {
                    font-size: 30px;
                }

                .text-product {
                    font-size: 25px;
                
                }
            }
            
        }
    }

    @media screen and (min-width: 1200px) {

        .card-product {

            width: 80%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .img-product {
                width: 50%;

                margin: 50px;
            }

            .detail-product {
                
                width: 50%;

                .title-product {
                    font-size: 40px;
                }

                .text-product {
                    text-align: start;
                }
            }
        }

        .card-peluche {
            display: flex;
            flex-direction: row-reverse;
        }

        .card-vaiselle {
            display: flex;
            flex-direction: row;
        }

        .card-the {
            display: flex;
            flex-direction: row-reverse;

        }
    }

}

.bloc-temoignages {

    display: flex;
    flex-direction: column;
    align-items: center;

    .title-temoignage {
        font-family: "Handlee", cursive;
        color: $blue;
        text-align: center;
        font-size: 25px;

        margin: 25px;
    }

    .card-temoignage-1 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            margin-bottom: 20px;

            text-align: center;

            font-size: 20px;
        }

        .img-temoignage-1 {

            border-radius: 10px;

            width: 100%;

        }
    }
    .card-temoignage-2 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            padding: 20px;

            text-align: center;

            font-size: 20px;
        }

        .img-temoignage-2 {

            border-radius: 10px;

            width: 100%;

        }
    }
    .card-temoignage-3 {

        margin: 0 0 50px 0;

        width: 90%;

        .text-temoignage {
            color: $violet;
        
            font-family: "Patrick Hand SC", cursive; 
        
            margin-bottom: 20px;

            text-align: center;

            font-size: 20px;
        }

        .img-temoignage-3 {

            border-radius: 10px;

            width: 100%;

        }

    }

    @media screen and (min-width: 768px) {

        .title-temoignage {
            font-size: 30px;
        }

        .card-temoignage-1 {
            width: 600px;

            .text-temoignage {
                font-size: 25px;
            }
        }

        .card-temoignage-2 {
            width: 600px;

            .text-temoignage {
                font-size: 20px;
            }
        }

        .card-temoignage-3 {
            width: 600px;

            .text-temoignage {
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) {

        .title-temoignage {
            font-size: 30px;
            
            margin-bottom: 60px;
        }

        .card-temoignage-1 {
            width: 70%;

            display: flex;
            flex-direction: row;
            align-items: center;

            .text-temoignage {
                text-align: start;
                font-size: 30px;

                width: 50%;
            }

            .img-temoignage-1 {
                width: 50%;

                margin: 25px;
            }
        }

        .card-temoignage-2 {
            width: 70%;

            .text-temoignage {
                font-size: 30px;
            }
        }

        .card-temoignage-3 {
            width: 70%;

            text-align: start;

            display: flex;
            flex-direction: row;
            align-items: center;

            .text-temoignage {

                width: 50%;

                text-align: start;
                font-size: 30px;

            }

            .img-temoignage-3 {
                width: 50%;
                margin: 25px;
            }
        }
    }
}



.grid-bloc-card {

    .card-equipe{

        width: 300px;
        
        background-color: $pink;

        padding: 20px;

        border-radius: 10px;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .img-equipe {

            width: 90%;

            border-radius: 10px;

            margin-bottom: 20px;
            
        }
        
        .title-card{
            margin-bottom: 20px;

            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 25px;
            

            color: $blue;
        }

        .sous-title-card {
            text-align: center;

            font-family: "Handlee", cursive;

            color: $dark-violet;

            font-size: 22px;

            margin-bottom: 10px;
        }

        .text-card{
            margin-bottom: 35px;

            text-align: center;

            font-family: "Patrick Hand SC", cursive; 

            color: $violet;
        }
        .footer-lien {

            display: flex;
            justify-content: end;

            .lien-card{
                text-decoration: none;

                font-family: "Patrick Hand SC", cursive; 

                color: $blue;
            }
        }
    }
        
    @media screen and (min-width: 768px) {
        .card-equipe {
            width: 600px;

            .title-card {
                font-size: 25px;
            }

            .text-card {
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) {

        .card-equipe {
            width: 300px;
        }

    }
}

