

footer {

    .footer {
        


        width: 100%; 
        height: auto;
        box-sizing: border-box;
        padding: 25px;
        background-color: $violet;
        color: white;
        font-family: "Patrick Hand SC", cursive;
        .footer-left {
    
            text-align: center;
    
            .footer-title{
    
                margin-bottom: 15px;
    
            }
    
            .footer-tel{
                margin: 10px 0 10px 0;
            }
    
    
        }
    
        .footer-img-logo-mobile {
    
            .footer-logo-mobile {
    
                width: 160px;
    
            }
    
        }
    
        .footer-img-logo-desktop {
    
    
            display: none;
    
            .footer-logo-desktop {
    
                width: 190px;
    
            }
    
        }
    
        .footer-right {
    
            .footer-right-network {
    
                text-align: center;
    
                margin: 25px 0 15px 0;
    
                .icone-network {
    
                    width: 30px;
    
                }
    
            }
    
    
        }
    
        @media screen and (min-width: 768px) {
    
    
            
    
            .footer-img-logo-mobile {
    
                display: none;
    
    
        
            }
    
            .footer-img-logo-desktop {
    
                display: block;
    
            }
    
            .footer-right {
    
                .footer-right-network {
    
                    margin-top: 0;
                    
            }
    
            }
            
        }
    }    
}
