header {
    
    .sidenav {

        font-family: "Patrick Hand SC", cursive;
        

        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 2;
        top: 0;
        right: -250px;
        background-color: $light-violet;
        padding-top: 60px;
        transition: right 0.5s ease;

        a {
            margin: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $blue;
            display: block;
            transition: 0.3s;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .close {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
        }
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav.active {
        right: 0;
    }

    /* Icône burger */
    .burger-icon {

        background-color: transparent;
        border: none;
    
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;

        span {
            display: block;
            width: 35px;
            height: 5px;

            border-radius: 10px;

            background-color: $blue;

            margin: 5px;
        }
    }

    .bandeau {
        position: absolute;
        z-index: -1;
        top: 0;

        width: 100%;
        max-height: 90px;

        display: flex;
        justify-content: center;

        background-color: $pink;

        .logo-bandeau {
            width: 130px;

            margin: 20px;
        }
    }

    @media screen and (min-width: 1500px) {

        

        width: 100%;

        .bandeau {

            display: flex;

            .logo-bandeau {

                width: 200px;

                margin: 20px;

            }
        }

        .sidenav {
            
            width: auto;

            position: static;

            height: 60px;

            right: auto;

            display: flex;
            justify-content: flex-end;
            

            padding: 30px 30px 0 0;


            background-color: transparent;

            a {
                color: $violet;
                font-size: 20px;
                
            }

            .close {
                visibility: hidden;
                position: relative;
                right: 25%;
            }

        }

        .sidenav.active {
            right: 350px;
        }

        .burger-icon {
            visibility: hidden;
            position: absolute;
            
        }
    }
}

