body {
    margin: 0;
    overflow-x: hidden;


    .bloc-intro{

        margin: 10px;
    
        .title-bloc-1{
    
            text-align: center;
    
            font-family: "Handlee", cursive;
            font-size: 22px;
    
            color: $blue;
    
            margin: 50px 0 30px 0;
    
            .logo-texte{
                font-family: "Cherry Bomb One", system-ui;
                font-weight: 100;
            }
        }
        
        .text-bloc-1{
    
            text-align: center;
    
            font-family: "Patrick Hand SC", cursive;
    
            color: $dark-violet;
        } 

        
    }
    
    .grid-bloc-intro{

        .ligne{

            margin-top: 25px;
        
            width: 90%;
            border: 2px solid $dark-pink;
        }
    }
    
    .bloc-encyclo{

        .sous-title{
            text-align: center;
    
            font-family: "Handlee", cursive;
            font-size: 20px;
    
            color: $blue;
    
            margin: 50px 0 30px 0;
        }
        .ligne{

        
            width: 90%;
            border: 2px solid $dark-pink;
        }
    }
    
}



