body {
    margin: 0;
    overflow-x: hidden;

    .container {


        .bloc-intro{

            margin: 10px;
        
            .title-bloc-intro{
        
                text-align: center;
        
                font-family: "Handlee", cursive;
                font-size: 30px;
        
                color: $blue;
        
                margin: 50px 0 30px 0;
        
                .logo-texte{
                    font-family: "Cherry Bomb One", system-ui;
                    font-weight: 100;
                }
            }
            
            .text-bloc-intro{
        
                text-align: center;

                margin-bottom: 40px;
        
                font-family: "Patrick Hand SC", cursive;
                font-size: 20px;
        
                color: $dark-violet;
            } 

            
        }

        

        
        .ligne-intro{

            margin: 5%;
        
            width: 90%;
            border: 2px solid $dark-pink;
        }



            


            

        
        .bloc-encyclo{

            .sous-title-bloc-encyclo{
                text-align: center;
        
                font-family: "Handlee", cursive;
                font-size: 30px;
        
                color: $blue;
        
                margin: 50px 0 30px 0;
            }
            
        }

        .ligne-encyclo{

            margin: 5%;
            
            width: 90%;
            border: 2px solid $dark-pink;
        }

        .sous-title-bloc-product {
            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 30px;

            color: $blue;

            margin: 50px 0 30px 0;
        }

        

        .ligne-product {

            margin: 5%;
                
            width: 90%;
            border: 2px solid $dark-pink;
        }
        

        .sous-title-bloc-temoignages {
            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 30px;

            color: $blue;

            margin: 90px 0 30px 0;
        }

        .phrase-accroche {
            text-align: center;

            font-family: "Handlee", cursive;
            font-size: 25px;

            color: $blue;

            margin: 50px 0 60px 0;
        }

        .ligne-temoignage {
            margin: 5%;
                
            width: 90%;
            border: 2px solid $violet;
        }
        
        .fleche-up {

            margin: 30px;

            display: flex;
            justify-content: end;

            .fleche-up-img {
                width: 60px;
            }
        }
        
        @media screen and (min-width: 768px) {
            .ligne-temoignage {
                
            }

        @media screen and (min-width: 1200px) {

            .bloc-intro {
                
                .title-bloc-intro {
                    font-size: 50px;
                }

                .text-bloc-intro {
                    font-size: 30px;
                }
            }
        }

        }

    }
}



